 
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

.container-main {
    width: 100vw;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    /* background-image: linear-gradient(to right top, #051937, #222150, #472363, #721d6e, #9d006e); */
    background-color: #222150;
}

.container-main a {
    font-size: 1.5em;
    background-image: linear-gradient(to right top, #01050b, #050919, #130921, #200725, #300022);
    color: #fff;
    text-decoration: none;

    text-align: center;

    width: 20%;
    height: 4%;

    padding-top: 5px;

    margin-bottom: 10px;
    border-radius: 10px;
}

.container-main form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(to right top, #01050b, #050919, #130921, #200725, #300022);

    width: 20%;
    height: 40%;
    border-radius: 20px;
}

.relogio {
    font-size: 4rem;
    color: #fff;
}